

body { /*icio da pagina geral*/
    background-color: darkslategrey;
    color: azure;
    align-items: center;
}
nav /*modifoca a posição da navbar*/ {
    text-align: center;
    margin: 5pxpx;
    padding: 10px;
}
ul /*modfica o estilo e a a diração da navbar*/ {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    left: 0;
    padding: 0;

}
li /*tamanho e etc da navbar*/ {
    margin: 0 24px;
    font-size: 24px;
}
a /*letras e estilo do msm fim da mpodifica çoes da navbar */ {
    text-decoration: none;
    color: ivory;
    font-size: 24px;
}
body > header /* textos na header*/ {
    text-align: center;
    margin: 20px;
}
header img /*imagem do header*/ {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 20px;
    border: 3px solid rgb(79, 59, 94);  
}
main div /*modifica o tamanho e a posição do main*/ {
    margin: 0px;
}
main div nav /*modifica o tamanho e a posição do nav esquerda*/ {
    align-items: right;
    text-align: right;
    height: 100vh;
    width: 120px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(27, 44, 44);
    margin: 0;
    padding: 0px;
}
main div nav ul /*modifica o tamanho e a posição do nav esquerda*/ {
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    left : 0;
    font-style: italic;
    text-decoration: none;
    list-style-type: none;
    
}
main div/*modifica o tamanho e a posição do nav esquerda*/ {
    opacity: 0;
}
footer .desing /*modifica o texto do rodapé*/ {
    text-align: right;
    font-size: 19px;
    margin: 10px;
    color: lightgray;
}
#texto /*texto loram ipslom*/ {
    font-size: 20px;
    text-align: center;
    margin: 20px;
}
#aut-name /*nome da pessoa meodifica o s cores*/ {
    color: yellow;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}

