@import './variaveis.css';


@keyframes vuar {
    0% {
        left: 25px;
    }

    50% {
        left: 0;
    }

    100% {
        left: -25px;
    }
}

@keyframes flutuar {
    0% {
        top: 30px;
    }

    100% {
        top: -30px;
    }
}