nav {
    /*modifoca a posição da navbar*/
    text-align: center;
    margin: 5pxpx;
    padding: 10px;
}

ul {
    /*modfica o estilo e a a diração da navbar*/
    list-style-type: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    left: 0;
    padding: 0;
}
li {
    /*tamanho e etc da navbar*/
    font-size: 24px;
}

a {
    /*letras e estilo do msm fim da mpodifica çoes da navbar */
    text-decoration: none;
    color: var(--cor-font);
    font-size: 24px;
}

header {
    /*header modificada em geral*/
    text-align: center;
    margin: 20px;
    align-items: center;
}



header nav {
    /*modifica A NAV DA HEADER*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, negrito;
    font-style: italic;
}