main nav /*modifica o tamanho e a posição do nav esquerda*/ {
    align-items: right;
    text-align: right;
    height: 100vh;
    width: 120px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(27, 44, 44);
    margin: 0;
    padding: 0px;
}
main nav ul /*modifica o tamanho e a posição do nav esquerda*/ {
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    left : 0;
    font-style: italic;
    text-decoration: none;
    list-style-type: none;
    
}
main nav/*modifica o tamanho e a posição do nav esquerda*/ {
    opacity: 0;
}

