main {
    justify-items: center;
}

main nav {
    /*modifica o tamanho e a posição do nav esquerda*/
    align-items: right;
    text-align: right;
    height: 100vh;
    width: 95px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(27, 44, 44);
    margin: 0;
    padding: 0px;
    opacity: 0;
}

main nav ul {
    /*modifica o tamanho e a posição do nav esquerda*/
    flex-direction: column;
    height: 100%;
    margin: 0 0;
    padding: 0;
    left: 0;
    font-style: italic;
    text-decoration: none;
    list-style-type: none;

}

main nav ul li {
    margin: 0 0;
    text-align: center;
}