@import '../../global/css-globall.css';

body {
    background-color: rgb(28, 61, 80);
    color: rgb(54, 15, 6);
    align-items: center;
    text-align: center;
}
body header nav ul li a{
    color: rgb(54, 15, 6);
}
main h2 {
    color: rgb(54, 15, 6);
}
nav {
    text-align: center;
}
#pag-inst{
    color: rgb(54, 15, 6);
    text-decoration: underline;
}
ul {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
li {

    font-size: 24px;
}
a {
    text-decoration: none;
    color: ivory;
    font-size: 24px;
}
body > header {
    text-align: center;
    margin: 20px;
}
h2 {
    font-size: 24px;
    color: white;
}
p {
    font-size: 20px;
    text-align: center;
    margin: 20px;
}